.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 50px;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

#roll {
  padding: 5px;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  background-color: #4ECCA3;
  font-family: "Kode Mono", monospace;
  font-weight: bolder;
  font-size: larger;
  border-radius: 5%;
  border: solid rgb(248, 236, 236) 2px;
}